@font-face {
    font-family: 'Montserrat Black';
    src: url("../font/Montserrat/Montserrat-Black.ttf");
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url("../font/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: 'MuseoSansCryl';
    src: url("../font/Museo-Sans-Cyr/MuseoSansCyrl_1.otf");
}