@import "font.css";

body{
    background-color: #F1F1F1;
}

/*-----------------MENUBAR START-------------------------*/

.menubar{
    padding: 5px 0;
    box-shadow: 2px 2px 5px gray;
}

.menubar .logo img{
    width: 40px;
}
.menubar .logo h4{
    line-height: 40px;
    font-family: 'MuseoSansCryl';
}

.menubar ul li{
    display: inline-block;
    padding: 5px 0;
    position: relative;
    margin: 0 10px;
}

.menubar ul li::before{
    position: absolute;
    width: 100%;
    height: 6%;
    content: '';
    background-color: red;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 0.5s;
}
.menubar ul li::after{
    position: absolute;
    width: 100%;
    height: 6%;
    content: '';
    background-color: #26ff00;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: 0.5s;
}

.menubar ul li:hover::before{
    transform: scale(1);
}
.menubar ul li:hover::after{
    transform: scale(1);
}

.menubar ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'MuseoSansCryl';
    /*text-transform: uppercase;*/
}

/*-----------------MENUBAR END-------------------------*/
/*-----------------CAROUSEL START-------------------------*/

.carousel_news img {
    width: 730px;
    height: 460px;
    object-fit: cover;
}

.carousel_slider{
    width: 730px;
    height: 460px;
    overflow: hidden;
}
.carousel_news{
    /*width: 730px;*/
    /*height: 460px;*/
    position: relative;
}

@media (max-width: 480px) {

}

.carousel_news h5{
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.44);
}

.last_news img{
    width: 95px;
    height: 95px;
    object-fit: cover;
}
.last_news p{
    font-size: 15px;
}
.import{
    border-bottom: 2px solid greenyellow;
}
.carousel_block{
    position: relative;
}
.btn_block{
    top: 10px;
    right: 10px;
    padding: 5px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
}
.btn_block button{
    margin: 1px;
    background-color: transparent;
    border: 1px solid white;

}
.btn_block button:focus{
    outline: none;
    border: 1px solid greenyellow;
}
.btn_block button:focus i{
   color: greenyellow;
}

.btn_block button i{
    font-size: 25px;
    color: white;
}
/*-----------------CAROUSEL END-------------------------*/