@import "font.css";

body {
    background-color: #F0F0F9;
}

/*-----------------MENUBAR START-------------------------*/

.menubar {
    top: 0;
    position: sticky;
    z-index: 999999;
    padding: 5px 0;
    box-shadow: 0 5px 10px #6f6f6f;
    background-color: #1A133C;
}

.menubar .logo img {
    width: 40px;
}

.menubar .logo h4 {
    line-height: 40px;
    font-family: 'MuseoSansCryl';
}

.menubar ul li {
    display: inline-block;
    padding: 5px 0;
    position: relative;
    margin: 0 10px;
}
.sub_menu{
    display: none;
    background-color: #1A133C;
    padding-top: 20px;
}
.sub_menu ul{
    padding: 0;
    margin: 0;
}
.menubar ul li:hover .sub_menu{
    display: block;
    position: absolute;

}
.menubar ul li::before {
    position: absolute;
    width: 100%;
    height: 6%;
    content: '';
    background-color: red;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 0.5s;
}

.menubar ul li::after {
    position: absolute;
    width: 100%;
    height: 6%;
    content: '';
    background-color: #26ff00;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: 0.5s;
}

.menubar ul li:hover::before {
    transform: scale(1);
}

.menubar ul li:hover::after {
    transform: scale(1);
}

.menubar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'MuseoSansCryl';
    /*text-transform: uppercase;*/
}

/*-----------------MENUBAR END-------------------------*/

/*-----------------CAROUSEL START-------------------------*/

.carousel_news img {
    width: 730px;
    height: 460px;
    object-fit: cover;
}

.carousel_block {
    overflow: hidden;
}

.carousel_slider {
    transition: 0.5s;
    width: 730px;
    height: 460px;
}

.carousel_news {
    /*width: 730px;*/
    /*height: 460px;*/
    position: relative;
}

@media (max-width: 480px) {
    .carousel_news img {
        width: 300px;
        height: 400px;
        /*object-fit: cover;*/
    }

    .carousel_slider {
        width: 300px;
        height: 400px;
    }

    .carousel_block {
        width: 300px;
        height: 400px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .carousel_news img {
        width: 450px;
        height: 460px;
        /*object-fit: cover;*/
    }

    .carousel_slider {
        width: 450px;
        height: 460px;
    }

    .carousel_block {
        width: 450px;
        height: 460px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .carousel_news img {
        width: 740px;
        height: 460px;
        /*object-fit: cover;*/
    }

    .carousel_slider {
        width: 740px;
        height: 460px;
    }

    .carousel_block {
        width: 740px;
        height: 460px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .carousel_news img {
        width: 760px;
        height: 460px;
        /*object-fit: cover;*/
    }

    .carousel_slider {
        width: 760px;
        height: 460px;
    }

    .carousel_block {
        width: 760px;
        height: 460px;
    }
}

.carousel_news h5 {
    position: absolute;
    bottom: 0;
    background-color: rgba(57, 56, 56, 0.6);
}

.last_news{
    align-items: center;
    background-color: white;
    padding: 0 2px;
    box-shadow: 1px 2px 5px gray;
}

.last_news img {
    width: 95px;
    height: 95px;
    object-fit: cover;
}

.last_news p {
    font-size: 15px;
}

.import {
    border-bottom: 2px solid greenyellow;
}

.carousel_block {
    position: relative;
}

.btn_block {
    top: 10px;
    right: 10px;
    padding: 5px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.5);
}

.btn_block button {
    margin: 1px;
    background-color: transparent;
    border: 1px solid white;

}

.btn_block button:focus {
    outline: none;
    border: 1px solid greenyellow;
}

.btn_block button:focus i {
    color: greenyellow;
}

.btn_block button i {
    font-size: 25px;
    color: white;
}

/*-----------------CAROUSEL END-------------------------*/

/*-----------------MAIN START-------------------------*/
.main {
    /*background-color: #dcdcdc;*/
}

.main img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.main .last_news_block {
    padding: 3px;
    /*border: 1px solid greenyellow;*/
    background-color: white;
    transition: 0.5s;
    box-shadow: 2px 2px 5px gray;
}
.main .last_news_block:hover{

    /*border: 1px solid red;*/
}


.last_text {
    border-bottom: 2px solid greenyellow;
    padding-bottom: 5px;
}

/*-----------------MAIN END-------------------------*/


/*-----------------FOOTER START-------------------------*/

.footer{
    background-color: #1A133C;
}
.footer .contact i{
    font-size: 20px;
    margin-top: 4px;
    margin-left: 2px;
    transition: 0.3s;
}

.footer .phone{
    margin-right: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    transition: 0.3s;
}
.footer .phone:hover{
  background-color: white;
}

.footer .social{
    margin-right: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    transition: 0.3s;
}
.footer .social:hover{
    background-color: white;
}
.footer .social:hover .fa-youtube{
    color: #FF0000;
    transform: rotate(360deg);
}
.footer .social:hover .fa-telegram-plane{
    color: #28A7E8;
    transform: rotate(360deg);
}

.footer .social:hover .fa-facebook-f{
    color: #4064AC;
    transform: rotate(360deg);
}
.footer .social:hover .fa-instagram{
    color: #DF4674;
    transform: rotate(360deg);
}
/*-----------------FOOTER END-------------------------*/

